.Header{
            height: 30px;
            color:#cf4646;
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
}

.submit_btn{
    width: 100%;
}

.form_container{
    padding: 20px;
}